.App {
  text-align: center;
  display: flex;
  flex-wrap: wrap;
}
.h1{
  text-align: center;
  align-items: center;
}
.product-card{
  display: flex;
  width:220px;
  border: 1px solid  black;
  flex-wrap: wrap;
  padding: 5px;
  margin: 5px;
}

.product-img{
  width: 200px;
  height:200px;

}

.page-number{
  padding: 5px;
  margin: 2px;
  border:1px solid black;
  }

.elements{
  text-align: center;
  align-items: center;
  padding: 10px;
  cursor: pointer;
}