.App {
  text-align: center;
  display: flex;
  flex-wrap: wrap;
}
.heading{
  display: flex;
  justify-content: center;
  align-items: center;
}
.product-card{
  display: flex;
  width:220px;
  border: 1px solid  black;
  flex-wrap: wrap;
  padding: 5px;
  margin: 5px;
}

.product-img{
  width: 200px;
  height:200px;

}

.page-number {
  display: inline-block;
  margin: 4px;
  padding: 8px 12px;
  border: 1px solid #ccc;
  border-radius: 6px;
  cursor: pointer;
  background-color: #f9f9f9;
  color: #333;
  transition: background-color 0.2s, color 0.2s;
}
.page-number:hover {
  background-color: #e6e6e6;
}
.page-number.active {
  background-color: #007bff;
  color: white;
  border-color: #1be059;
}

.elements{
  text-align: center;
  align-items: center;
  padding: 10px;
  cursor: pointer;
}